<h3><%= @coupon.name %></h3>
<li>Code: <%= @coupon.code %></li>
<li>Amount Off: <%= @coupon.amount_off %></li>
<li>Category: <%= @coupon.category %></li>
<li>Status: <%= @coupon.status %></li>
<li>Use Count: <%= @coupon.use_count %></li>
<p><%= button_to "Deactivate", merchant_coupon_path(@merchant, @coupon), method: :patch, params: {active: false} %></p>