<h3><%= @coupon.name %></h3>

<p><%= "Name: #{@coupon.name}" %></p></br>
<p><%= "Code: #{@coupon.code}" %></p></br>
<p><%= "Amount Off: #{@coupon.amount_off}" %></p></br>
<p><%= "Category: #{@coupon.category}" %></p></br>
<p><%= "Status: #{@coupon.status}" %></p></br>
<p><%= "Use Count: #{@coupon.use_count}" %></p>